.customer-list-container {
  height: auto;
}

.customer-list-row {
  min-height: auto;
}
.customer-list-col {
  min-height: auto;
}

.add-customer {
  min-height: 20vh;
}

.display-customer {
  min-height: 70vh;

  background-color: var(--bg-md-dark-white);
}

@keyframes fadeIn {
  0% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}
.fade-in {
  animation: fadeIn 0.5s ease-in-out; /* 3 seconds duration */
}
