.alert-msg {
  width: 800px;
}

.alert-msg-col {
  min-height: 60px;
  width: 800px;
  border: solid var(--border-color-red) 3px;

  background-color: var(--border-bg-color-red);
  border-radius: 5px;

  color: var(--text-color-red);

  display: flex;
  align-items: center;
  justify-content: center;
}

.warning-icon {
  width: 40px;
  height: 40px;
}
