button {
  border: none;
  background-color: var(--btn-color);

  min-height: 50px;
  min-width: 200px;

  border-radius: 5px;

  color: var(--text-color-white);

  font-family: sans-serif;
  font-weight: bold;
  font-size: 18px;
}

button:hover {
  background-color: var(--btn-color-hover);
}
