.contact-number-tbl {
  font-family: sans-serif;

  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.26);

  width: 90%;
}

.contact-number-tbl-col h1 {
  font-weight: bolder;
}

.contact-list-tbl {
  width: 100%;
}

table tr th {
  color: rgba(0, 0, 0, 0.4);
  padding: 10px;
  border-bottom: solid 2px;
}

table tr td {
  padding: 10px;
}
