.app-navbar {
  min-height: 10vh;
  width: 100vw;
  color: var(--text-color-white);
  background-color: var(--navbar-background-color);
}

.app-navbar-logo {
  background-color: black;
  height: 70px;
  width: 70px;
}

.app-navbar-logo h1 span {
  background-color: var(--text-color-light-green);
  height: 30px;
  width: 20px;
  content: "";
  margin: 0;
}

.navbar-title {
  color: var(--text-color-green);
}

.app-navbar-row {
  min-height: 10vh;
}
