.name-holder {
  width: 500px;
  word-wrap: break-word;
  border: none;

  background-color: var(--bg-mid-light-white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349);

  margin: 0;

  padding: 10px;

  font-size: 24px;
  font-family: sans-serif;
  font-weight: bold;

  text-align: start;

  margin-bottom: 20px;
}

.name-holder ul li {
  list-style: none;
}
