.phone-directory {
  background-color: var(--bg-md-dark-white);
}

.phone-directory-col {
  min-height: 88vh;
}

.input-field-section {
  min-height: 100px;
  background-color: white;
}

.error-massage-section {
  min-height: 150px;
  /* display: none; */
}

.display-directory-section {
  min-height: 40px;
}
