.add-custoner-field {
  background-color: var(--bg-md-dark-white);
  border: none;

  height: 50px;
  width: 250px;

  font-family: sans-serif;

  padding: 10px;
}

.add-custoner-field:focus {
  outline: none;
  border-bottom: 2px solid rgb(0, 0, 0); /* Change the bottom border color on focus */
}
