* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --navbarTest-color: green;
  --navbar-background-color: #333c45;
  --bg-mid-light-white: white;
  --bg-md-dark-white: #f0f4f4;
  --border-color-red: rgb(168, 2, 2);
  --border-bg-color-red: rgba(207, 72, 72, 0.363);
  --btn-color: #29bd5f;
  --btn-color-hover: #32ad5f;
  --white-bg: white;

  --text-color-red: rgb(168, 2, 2);
  --text-color-white: white;
  --text-color-black: black;
  --text-color-grey: grey;
  --text-color-light-green: #02e964;
  --text-color-green: #19a94d;
}

.bg-container {
  background-color: var(--bg-mid-ligh-white);
}
